<main class="mt-5">
  <div class="bannerhp">
  
  </div>
  <div class="container mb-5" style="color: #000">
    <h1>Trip</h1>
    <div class="btn btn-primary">Booking</div>
    <p>Start date: <%= @trip.start_date  %></p>
    <p>End date: <%= @trip.end_date  %></p>
    <p>Description: <%= @trip.description  %></p>
    <p>Location: <%= @trip.location  %></p>
    <div class="btn btn-primary">Edit</div>
    <div class="btn btn-primary">Delete</div>
  </div>
</main>
