<main class="mt-5 wrapper">
  <div id="bannerhp" class="mb-5">
    <div class="box-banner">
      <div class="row">
        <div class="col">
          <h1>Current user Trip</h1>
          <p>Description: <%= @trip.description  %></p>
        </div>
      </div>
          <div class="btn btn-primary">Booking</div>
          <div class="btn btn-primary">Edit</div>
          <div class="btn btn-primary">Delete</div>
    </div>
    </div>
    <div class="container mb-4">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6 ms-4">
          <img id="trip-pic" src='https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs2.jpeg'>
        </div>

        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
          <h1>Trip</h1>
          <p>Start date: <%= @trip.start_date  %></p>
          <p>End date: <%= @trip.end_date  %></p>
          <p>Location: <%= @trip.location  %></p>
          <h2>Something about the trip</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="mb-4 ml-4">
      <div class="row g-2" style="justify-content: center;">

            <!-- Carousel wrapper -->
        <section>
        
        <div class="swiper mySwiper container p-0">
      <div class="swiper-wrapper content">

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Someone Name</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Someone Name</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Someone Name</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.,</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        <!-- START OF SINGLE BOX -->
        <div class="swiper-slide box">
          <div class="box-content">
            <div class="image">
               <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                class="box-img-top"
                alt="Waterfall"
                />
            </div>

            <div class="name-profession">
              <span class="name">Someone Name</span>
              <span class="profession">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>

            <div class="button">
              <button class="btn btn-primary">Check It Out</button>
            </div>
          </div>
        </div>

        <!-- END OF SINGLE BOX -->

        
          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>



        </section>
            <!-- Carousel wrapper -->
          </div>
        </div>

  <div class="push"></div>
</main>
<!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

