<div>
  <div class="<%= css_class %> bubble" id="message-<%= message.id %>">
    <small class="user-msg">
     <%= message.user.user_name %>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
