// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #E0E0E0;

// color scheme

$pink: #F2C4C4;
$light-green: #75BFBF;
$dark-green: #308C8C;

$black: #000;
$white: #fff;


// back-up colors

$darker-green: #025159;
$ligh-blue: #D8E8F2;