<style>
.email-title {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}

</style>
<h1 class="email-title">TRAVEL TRIBE</h1>

<h2>
  <%= @greeting %>
</h2>

<div class="container">
  <h4>Hi <%= @user.full_name %>,</h4>

  <p>Happy days!!! Somebody just request to join your trip!</p>
  <p>Go check it out and see if you approve that person!</p>
  <a href="#">Review Request</a>

<p>See ya!</p>
</div>
