// Specific CSS for your home-page

#map {
  height: 600px;
  width: 100%;
  top: 0;
  object-fit: cover;
}

.row {
  flex-wrap: nowrap;
}

#rating {
  margin-top: 30px;
}

.price {
  padding: 20px 10px 30px 10px;
  text-align: center;
}

#infos {
  padding: 0px;
}

.wrapper {
  margin-top: 80px;
}
