.card-banner {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 40px;
}

#trip-pic {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

p {
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

.bookmark {
  height: 30.5px;
  width: 30px;
  font-size: 30px;

  // &:hover{

  // }
}
