
#reviews {
  text-decoration: underline;
}

#edit {
  text-decoration: underline;
}

.wrapper_profile {
  margin-top: 6em;
  justify-content: center;

}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
