<div class="footer">
  <div class="footer-links">
    <div>
      <a href="#" class="join">Join The Comunity</a>
    </div>
  </div>
  <div class="footer-copyright mt-4">
   <p>&copy TribeTeam <i class="fas fa-anchor"></i></p>
  </div>
</div>
