<div class="footer mt-1 fixed-bottom">
  <div class="footer-links d-flex">
    <p class="p_footer">&copy TribeTeam <i class="fas fa-anchor"></i></p>
  </div>
  <div class="footer-copyright">
   <a href="#" class="join">Back to Top</a>
  </div>
</div>
