<div class="footer mb-1">
  <div class="footer-links d-flex">
    <p class="p_footer">&copy TribeTeam <i class="fas fa-anchor"></i></p>
    <a href="#" class="join">Join The Comunity</a>
  </div>
  <div class="footer-copyright">
   <a href="#" class="join">Back to Top</a>
  </div>
</div>
