  <div class="map-box">  
    <div>
      <h2 class="map-title"><%= trip.name %></h2>
      <p><%= trip.address %></p>
    </div>   
    
    <div class="">
        <%= link_to trip_path(trip), class: "link_to_class" do %>
        <% if trip.photo.attached? %>
          <%= cl_image_tag trip.photo.key, class:"map-image" %>
        <% else %>
          <img class="map-image" src="https://cdn.pixabay.com/photo/2015/06/11/08/58/cappadocia-805624_1280.jpg" />
        <% end %>
    </div>
    <% end %>
  </div>