<%= render 'pages/info_window' %>
<div class="container">
  <div class="container">
    <h2><%= trip.name %></h2>
    <p><%= trip.address %></p>
  </div>   
  <div class="container">
  <%# PUT IMAGE HERE %>
  </div>
</div>
