<div id="bannerhp">
  <h1>Make friends, save money, travel more.</h1>
  <button >Search how</button>
</div>

<div id="searchbarhp-div">
  <input type="search" name="searchbar" id="searchbarhp" placeholder="Search trips">
</div>
