<div class="wrapper">
    <div class="mb-4">
      <div id="bannerhp">
        <div class="banner-h1">
          <h1>Make friends, save </h1>
          <h1>money, travel more.</h1>
        </div>
        <div class="btn">
          <%= link_to "Search Now", href="#card-product", class: "search-btn" %>
        </div>
      </div>
    </div>

    <div>
      <i class="fas fa-angle-double-down"></i>
      <h1 class="pre-card-animation">Trips all over Rio de Janeiro</h1>
    </div>

  <div class="card-product" id="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="row">
        <div class="col-sm">
          <div class="description-box">
            <div class="trip-description">
              <h2>Chill trip to Amsterdam</h2>
              <p>As of the moment, only the following airlines have been approved to operate Philippines Singapore VTL flights: Singapore Airlines, Scoot, AirAsia, Jetstar Asia, Philippine Airlines, and Cebu Pacific. </p>
            </div>
            <div class="tribe">
              <p>Planned by:</p>
              <img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" />
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="info-box">
          <div class="informatives">
            <p>Group size: 5-7 people</p>
            <p>Date range: 19.04-27.04.2022</p>
            <p>Planned spending</p> <br/> <p>500-800€</p>
          </div>
          <div class="tribe">
            <p>Tribe members</p>
            <img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" />
            <img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" />
            <img class="profile-icon" src="https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/hs1.jpeg" />

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>
