<div class="mb-4">
  <div id="bannerhp">
    <h1>Make friends, save money, travel more.</h1>
    <button >Search how</button>
  </div>

  <div id="searchbarhp-div">
    <input type="search" name="searchbar" id="searchbarhp" placeholder="Search trips">
  </div>

  <h1>Product card</h1>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="description-box">
      <div class="trip-description">
        <h2>Chill trip to Amsterdam</h2>
        <p>As of the moment, only the following airlines have been approved to operate Philippines Singapore VTL flights: Singapore Airlines, Scoot, AirAsia, Jetstar Asia, Philippine Airlines, and Cebu Pacific. </p>
      </div>
    </div>
  </div>
  <div class="informatives mb-5">
    <p>Group size: 5-7 people</p>
    <p>Date range: 19.04-27.04.2022</p>
    <p>Planned spending</p> <br/> <p>500-800€</p>
  </div>
</div>