<div class="wrapper">
    <div class="mb-4">
      <div id="bannerhp">
        <h1>Make friends, save money, travel more.</h1>
        <button >Search how</button>
      </div>
    </div>

    <div class="pre-card-animation">
      <h1>Trips all over Rio de Janeiro</h1>
    </div>

  <div class="content">
    <div class="card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>






      <img id="map" src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg'>
  </div>
    <div class="push"></div>
</div>
