#bannerhp {
  background-image: linear-gradient(rgba(255, 255, 255, 0), black), url('https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/tst-r.jpeg');
  // width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  margin: 20px;
  padding-left: 50px;
  padding-bottom: 20%;
  padding-top: 50px;
  // padding-bottom: 40px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

// .other-banner {
//   background-image: linear-gradient(rgba(255, 255, 255, 0), black), url('https://raw.githubusercontent.com/Edwardtoonela/travel-tribe/master/app/assets/images/profile_bg.jpeg');
// }

.btn {
  width: 130px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: $white;
  color: rgba(0, 0, 0, 0.5);


  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

#bannerhp h1 {
  font-weight: bolder;
  font-size: 6.5vw;
}

.search-btn {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.banner-text {
  display: flex;
  flex-direction: column;
}