#card-product {
  overflow: hidden;
  height: 300px;
  width: 830px;
  background: white;
  /* box-shadow: 0 0 15px rgb(0 0 0 / 20%); */
  // display: flex;
  border-radius: 30px;
  border: 1px solid #000000;
}

#card-product img {
  height: 300px;
  width: 225px;
  object-fit: cover;
}

#card-product .profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#card-product p {
  font-size: 13px;
}

#card-product h2 {
  font-size: 26px;
}

#card-product h3 {
  font-size: 18px;
}

#card-product h4 {
  font-size: 16px;
}

#card-product li {
  list-style-type: none;
}

.link_to_class {
  text-decoration: none;
  color: inherit;

  &:hover{
    color: rgba(0, 0, 0, 0.5);
  }
}
