#card-product {
  overflow: hidden;
  height: 300px;
  width: 800px;
  margin-left: 72px;
  background: white;
  border-radius: 15px;
  box-shadow: 2px 2px #bbb6b6;
  border: 1px solid #bbb6b6;

  &:hover {
    transform: scale(1.1);
  }
}

#card-product img {
  height: 300px;
  width: 225px;
  object-fit: cover;
}

#card-product .profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#card-product p {
  font-size: 13px;
}

#card-product h2 {
  font-size: 26px;
}

#card-product h3 {
  font-size: 18px;
}

#card-product h4 {
  font-size: 16px;
}

#card-product li {
  list-style-type: none;
}

.link_to_class {
  text-decoration: none;
  color: inherit;

  &:hover{
    color: rgba(0, 0, 0, 0.5);
  }
} 

.home-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}
.map{
  height: 100vh;
  position: sticky;
  top: 0;
}