.card {
  overflow: hidden;
  height: 223px;
  width: 825px;
  background: white;
  /* box-shadow: 0 0 15px rgb(0 0 0 / 20%); */
  // display: flex;
  border-radius: 30px;
  margin: 30px;
  border: 1px solid #000000;
}

.card img {
  height: 100%;
  width: 215px;
  object-fit: cover;
}
