.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  /* box-shadow: 0 0 15px rgb(0 0 0 / 20%); */
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin: 30px;
  border: 1px solid #000000;
}

.card-product img {
  height: 100%;
  width: 350px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.description-box {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-box {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-product .trip-description {

}

.card-product .informatives {

}

.card-product .tribe {

}

.card-product .trip-infos {

}

.card-product .tags-small{

}

.card-product .rating{

}

.card-product .bookmark{

}

.card-product .profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
