.chatroom {
  background: white;
  margin-top: 50px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  // width: 60%;
}
  .chatroom h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    color: black;
    width: 100%;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    // padding: 1rem;
    width: 100%;
    align-items: baseline;

    .form-group {
      margin-bottom: 0;
    }
  }

  .send-btn{
    margin-left: 15px;
    border-radius: 5px !important;
  }

.bubble {
  // width: 40%;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  border-radius: 10px;
}

.sent-message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #278EFF;
  border-top: 10px solid #278EFF;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -20px;
}

.received-message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #26252A;
  border-top: 10px solid #26252A;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.received-message {
  background-color: #26252A;
  margin-bottom: 20px;
}

.sent-message {
  margin-left: 50%;
  background-color: #278EFF;
  margin-bottom: 20px;
}
