// === MEDIA QUERY === //
@media only screen and (max-width: 1390px) {
  .map {
    display: none;
  }
}

.mapboxgl-popup {
  max-width: 150px;
  margin: 10px;

  &:active  {
    display: none;
  }
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
  color: rgb(47, 132, 189);
  border: none;
  // opacity: 0;

  &:hover {
    color: red;
    background-color: transparent;
  }
}

.map-image {
  max-width:100%;
  max-height:100%;
  border-radius: 3px;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}