// SMALLER MOBILE SIZE
@media only screen and (max-width: 520px){
  .searchButton {
    left: 214px;
  }

  .wrapping {
    width: 298px;
  }

  .footer a, p {
    font-size: small;
  }

  .footer {
    flex-direction: column;
    margin-top: 40px;
  }

  .searchTerm {
    margin-right: 20px;
  }
}

// MOBILE SIZE
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .searchButton {
    left: 280px;
  }

  .wrapping {
    width: 345px;
  }
  s.searchTerm {
    margin-right: 20px;
  }
}

// TABLET SIZE
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .searchTerm {
    margin-right: 20px;
  }

  .searchButton {
    left: 296px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1380px) {
  .searchButton {
    left: 448px;
  }
}
// HIDE LOGO
@media only screen and (max-width: 1024px) {
  .navbar-lewagon .navbar-brand img {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  // == CARD PRODUCT == //

  .card-div {
    flex-direction: column;
  }

  .card {
    overflow: hidden;
    height: 800px;
    width: 945px;
    background: white;
    border-radius: 15px;
    border: 1px solid #000000;
  }

  .card img {
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  .card ul {
    display: flex;
    justify-content: center;
  }

  .card li {
    margin-right: 25px;
  }

  .description {
    text-align: center;
  }

  .trip-title {
    text-align: center;
  }

  .ratings {
    justify-content: center;
  }

  .trip-tags {
    display: flex;
    justify-content: center;
  }

  .price{
    font-size: 35px;
  }
} 
