// SMALLER MOBILE SIZE
@media only screen and (max-width: 520px){
  .signin-up-img {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  // CHAT

  .chatroom {
    width: 90%;
  }

  .bubble {
    width: 56%;
  }

  .searchButton {
    left: 214px;
  }

  .wrapping {
    width: 298px;
  }

  .footer a, p {
    font-size: small;
  }

  .footer {
    flex-direction: column;
    margin-top: 40px;
  }

  .searchTerm {
    margin-right: 20px;
  }

  // == CARD PRODUCT == //

  .home-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 
  .card-product {
    height: 780px;
    width: 390px;
    margin: 15px;
  }

  .mobile-card-view{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-product img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }


  .description {
    text-align: center;
  }

  .trip-title {
    text-align: center;
  }

  .ratings {
    justify-content: center;
  }

  .trip-tags {
    display: flex;
    justify-content: center;
  }

  .price{
    font-size: 35px;
  }
}

// MOBILE SIZE
@media only screen and (min-width: 521px) and (max-width: 767px) {
  .signin-up-img {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .chatroom {
    width: 90%;
  }

  .chatroom h1 {
    font-size: 18px !important;
  }

  .bubble {
    width: 62%;
  }

  .searchButton {
    left: 280px;
  }

  .wrapping {
    width: 345px;
  }
  s.searchTerm {
    margin-right: 20px;
  }

  // == CARD PRODUCT == //

  .home-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

 
  .card-product {
    height: 346px;
    width: 702px;
    margin: 25px;
  }

  .card-product img {
    height: 346px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-product ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card-product li {
    margin-right: 25px;
    font-size: 13px;
  }

  .card-product p {
    flex-direction: column;
    width: 170px;
    margin-right: 0;
  }

  .average-rating {
    width: 30px;
  }

  .description {
    text-align: center;
  }

  .trip-title {
    text-align: center;
  }

  .ratings {
    justify-content: center;
  }

  .trip-tags {
    display: flex;
    justify-content: center;
  }

  .price{
    font-size: 35px;
  }
}

// TABLET SIZE
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .signin-up-img {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  .chatroom {
    width: 90%;
  }

  .bubble {
    width: 52%;
  }

  .searchTerm {
    margin-right: 20px;
  }

  .searchButton {
    left: 296px;
  }

  // == CARD PRODUCT == //

  .home-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .card-product {
    height: 346px;
    width: 702px;
    margin: 25px;
  }

  .card-product img {
    height: 346px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-product ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card-product li {
    margin-right: 25px;
    font-size: 13px;
  }

  .card-product p {
    flex-direction: column;
    width: 170px;
    margin-right: 0;
  }

  .average-rating {
    width: 30px;
  }

  .description {
    text-align: center;
  }

  .trip-title {
    text-align: center;
  }

  .ratings {
    justify-content: center;
  }

  .trip-tags {
    display: flex;
    justify-content: center;
  }

  .price{
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1380px) {
  .chatroom {
    width: 60%;
  }

  .bubble {
    width: 50%;
  }

  .searchButton {
    left: 448px;
  }

  // == CARD PRODUCT == //


  .card-product {
    overflow: hidden;
    height: 355px;
    width: 945px;
    background: white;
    border-radius: 15px;
    border: 1px solid #000000;
  }

  .card-product img {
    height: 355px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  .card-product ul {
    display: flex;
    justify-content: center;
  }

  .card-product li {
    margin-right: 25px;
  }

  .description {
    text-align: center;
  }

  .trip-title {
    text-align: center;
  }

  .ratings {
    justify-content: center;
  }

  .trip-tags {
    display: flex;
    justify-content: center;
  }

  .price{
    font-size: 35px;
  }
}

@media only screen and (min-width: 1381px) {
  .chatroom {
    width: 60%;
  }

  .bubble {
    width: 48%;
  }
}

// HIDE LOGO
@media only screen and (max-width: 1024px) {
  .navbar-lewagon .navbar-brand img {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

} 

// === MAP === //
@media only screen and (max-width: 1390px) {
  .map {
    display: none;
  }
}

// TAGS
.tags {
  display: none;
}