.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar {
  background-color: $white;
}

.navbar-toggler {
  margin-right: 10px;
  border-radius: 5px;
  outline: none;

  &:active {
    color: $light-green;
  }
}

.dropdown-menu {
  border: 1px solid $light-gray;
  border-radius: 5px;
  margin-top: 2px;
  padding: 5px;
}

.dropdown-item {
  color: $light-gray;
}

.style_image {
  height: 20px;
  width: 20px;
}
