.card {
  overflow: hidden;
  height: 223px;
  width: 825px;
  background: white;
  /* box-shadow: 0 0 15px rgb(0 0 0 / 20%); */
  // display: flex;
  align-items: center;
  border-radius: 30px;
  margin: 30px;
  border: 1px solid #000000;
}

.card .picture {
  height: 100%;
  width: 215px;
  object-fit: cover;
}

.card h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card .description-box p {
  margin-top: 15px;
}

.description-box {
  padding-right: 25px;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 35px;
}

.info-box {
  padding-left: 25px;
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

.card .trip-description {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}

.card .informatives {
  margin-bottom: 25px;
  margin-top: 50px;
}

.card .tribe {
  margin-top: 25px;
}

.card .trip-infos {

}

.card .tags-small{

}

.card .rating{

}

.card .bookmark{

}

.card .profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
