.review-box {
  width: 100%;
  height: 200px;
  background-color: #E0E0E0;
  outline-color: white;
}

.review-box-small {
  width: 30%;
  background-color: #E0E0E0;
  outline-color: white;
}

.profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.divider {
  border: none;
  border-top: 1px solid;
  border-color: #E0E0E0;
}
