.signup-img {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;

  &:img {
    max-width: 100%;
    max-height: 100%;
  }
}


.sign-box {
  margin-bottom: 50px;
}

.sing_title {
  text-align: center;
}

.sign-btn {
  justify-content: center;
  align-items: baseline;
}

.sign-img{
  object-fit: cover;
  height: 600px;
  width: 100%;
}