.show_input {
  display: block;
}

.hide_input {
  display: none
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 25vw;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.modal-body button {
  background-color: $background;
  border: none;
  border-radius: 7px;
  margin-top: 3vw;
  width: 10vw;
}

.modal-body button:hover {
  background-color: $close-btn;
  color: white;
}

.modal-body .form-control {
  background-color: white;
  border-color: grey;
  border-radius: 7px;
  width: 40vw;
  font-size: 25px;
}

.modal-body .form-label {
  font-size: 35px;
}

.modal-body .mapboxgl-ctrl-geocoder--input {
  background-color: white;
  border-color: grey;
  border-radius: 7px;
  width: 40vw;
  font-size: 25px;
}

.modal-body .form-select {
  background-color: white;
  border-color: grey;
  border-radius: 7px;
  font-size: 25px;
}

.modal-body .submit_button {
  background-color: $background;
  border: none;
  border-radius: 7px;
}

.modal-body .submit_button:hover {
  background-color: $close-btn;
  color: white;
}
