
.profile{
  border-radius: 50%;
  padding: 3px;
  background: $white;
  height: 170px;
  width: 170px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}

.profile img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userprofile-card {
  width: 420px;
  height: 500px;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-left: 2em;
  box-shadow: 2px 2px;
  background-color: gainsboro;
}

#userprofile-picture {
  padding-top: 0.5em;
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: underline;
}

#userprofile-body {
  align-content: center;
  margin-top: 60px;
}

.edit-profile {
  display: flex;
  justify-content: center;

    // & :hover {
    //   color: dimgray;
    // }
}

.edit-profile-items {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}